$menu-bg-color: #144ac7;
$hdr-bg-color: #c6e9ff;

@import 'https://fonts.googleapis.com/css?family=Oswald';

#header {
	background-color: $hdr-bg-color;
	background-image: none;
}

#menubar {
	.region-menubar {
		.menu--main {
			background-color: $menu-bg-color;
		}
		}
}