$menu-bg-color: #7aa1aa;
$hdr-bg-color: transparent;

@import 'https://fonts.googleapis.com/css?family=Oswald';

#header {
	background-color: $hdr-bg-color;
	background-image: url('/themes/orfeus/images/wind.png');
	background-position: top center;
	background-size: 20%;
}

#menubar {
	.region-menubar {
		.menu--main {
			background-color: $menu-bg-color;
		}
		}
}

#header .site-branding__logo {
	max-width:25%;
}
